:root {
  --blueprint-red-50: 254 242 242 !important;
  --blueprint-red-100: 255 226 226 !important;
  --blueprint-red-200: 256 201 201 !important;
  --blueprint-red-300: 257 162 162 !important;
  --blueprint-red-400: 256 100 103 !important;
  --blueprint-red-500: 251 44 54 !important;
  --blueprint-red-600: 231 24 11 !important;
  --blueprint-red-700: 193 16 7 !important;
  --blueprint-red-800: 159 7 18 !important;
  --blueprint-red-900: 130 24 26 !important;
  --blueprint-red-950: 70 8 9 !important;

  --blueprint-orange-50: 255 247 237 !important;
  --blueprint-orange-100: 255 237 212 !important;
  --blueprint-orange-200: 255 214 167 !important;
  --blueprint-orange-300: 258 184 106 !important;
  --blueprint-orange-400: 258 137 4 !important;
  --blueprint-orange-500: 260 105 42 !important;
  --blueprint-orange-600: 245 73 39 !important;
  --blueprint-orange-700: 202 53 25 !important;
  --blueprint-orange-800: 159 45 1 !important;
  --blueprint-orange-900: 126 42 12 !important;
  --blueprint-orange-950: 68 19 6 !important;

  --blueprint-amber-50: 255 251 235 !important;
  --blueprint-amber-100: 254 243 198 !important;
  --blueprint-amber-200: 254 230 133 !important;
  --blueprint-amber-300: 256 210 48 !important;
  --blueprint-amber-400: 255 185 59 !important;
  --blueprint-amber-500: 254 154 55 !important;
  --blueprint-amber-600: 225 113 43 !important;
  --blueprint-amber-700: 187 77 26 !important;
  --blueprint-amber-800: 151 60 8 !important;
  --blueprint-amber-900: 123 51 6 !important;
  --blueprint-amber-950: 70 25 1 !important;

  --blueprint-yellow-50: 254 252 232 !important;
  --blueprint-yellow-100: 254 249 194 !important;
  --blueprint-yellow-200: 255 240 133 !important;
  --blueprint-yellow-300: 256 223 32 !important;
  --blueprint-yellow-400: 253 199 69 !important;
  --blueprint-yellow-500: 240 177 59 !important;
  --blueprint-yellow-600: 208 135 46 !important;
  --blueprint-yellow-700: 166 95 27 !important;
  --blueprint-yellow-800: 137 75 10 !important;
  --blueprint-yellow-900: 115 62 10 !important;
  --blueprint-yellow-950: 67 32 4 !important;

  --blueprint-lime-50: 247 254 231 !important;
  --blueprint-lime-100: 236 252 202 !important;
  --blueprint-lime-200: 216 249 153 !important;
  --blueprint-lime-300: 187 244 81 !important;
  --blueprint-lime-400: 154 230 48 !important;
  --blueprint-lime-500: 124 207 53 !important;
  --blueprint-lime-600: 94 165 41 !important;
  --blueprint-lime-700: 73 125 21 !important;
  --blueprint-lime-800: 60 99 1 !important;
  --blueprint-lime-900: 53 83 14 !important;
  --blueprint-lime-950: 25 46 3 !important;

  --blueprint-green-50: 240 253 244 !important;
  --blueprint-green-100: 220 252 231 !important;
  --blueprint-green-200: 185 248 207 !important;
  --blueprint-green-300: 123 241 168 !important;
  --blueprint-green-400: 5 223 114 !important;
  --blueprint-green-500: 49 201 80 !important;
  --blueprint-green-600: 42 166 62 !important;
  --blueprint-green-700: 23 130 54 !important;
  --blueprint-green-800: 1 102 48 !important;
  --blueprint-green-900: 13 84 43 !important;
  --blueprint-green-950: 3 46 21 !important;

  --blueprint-emerald-50: 236 253 245 !important;
  --blueprint-emerald-100: 208 250 229 !important;
  --blueprint-emerald-200: 164 244 207 !important;
  --blueprint-emerald-300: 94 233 181 !important;
  --blueprint-emerald-400: 49 212 146 !important;
  --blueprint-emerald-500: 55 188 125 !important;
  --blueprint-emerald-600: 45 153 102 !important;
  --blueprint-emerald-700: 31 122 85 !important;
  --blueprint-emerald-800: 17 96 69 !important;
  --blueprint-emerald-900: 3 79 59 !important;
  --blueprint-emerald-950: 1 44 34 !important;

  --blueprint-teal-50: 240 253 250 !important;
  --blueprint-teal-100: 203 251 241 !important;
  --blueprint-teal-200: 150 247 228 !important;
  --blueprint-teal-300: 70 236 213 !important;
  --blueprint-teal-400: 56 213 190 !important;
  --blueprint-teal-500: 54 187 167 !important;
  --blueprint-teal-600: 42 150 137 !important;
  --blueprint-teal-700: 24 120 111 !important;
  --blueprint-teal-800: 7 95 90 !important;
  --blueprint-teal-900: 11 79 74 !important;
  --blueprint-teal-950: 2 47 46 !important;

  --blueprint-cyan-50: 236 254 255 !important;
  --blueprint-cyan-100: 206 250 254 !important;
  --blueprint-cyan-200: 162 244 253 !important;
  --blueprint-cyan-300: 83 234 253 !important;
  --blueprint-cyan-400: 66 211 242 !important;
  --blueprint-cyan-500: 59 184 219 !important;
  --blueprint-cyan-600: 44 146 184 !important;
  --blueprint-cyan-700: 26 117 149 !important;
  --blueprint-cyan-800: 1 95 120 !important;
  --blueprint-cyan-900: 16 78 100 !important;
  --blueprint-cyan-950: 5 51 69 !important;

  --blueprint-sky-50: 240 249 255 !important;
  --blueprint-sky-100: 223 242 254 !important;
  --blueprint-sky-200: 184 230 254 !important;
  --blueprint-sky-300: 116 212 257 !important;
  --blueprint-sky-400: 33 188 256 !important;
  --blueprint-sky-500: 52 166 244 !important;
  --blueprint-sky-600: 41 132 209 !important;
  --blueprint-sky-700: 28 105 168 !important;
  --blueprint-sky-800: 16 89 138 !important;
  --blueprint-sky-900: 2 74 112 !important;
  --blueprint-sky-950: 5 47 74 !important;

  --blueprint-blue-50: 239 246 255 !important;
  --blueprint-blue-100: 219 234 254 !important;
  --blueprint-blue-200: 190 219 255 !important;
  --blueprint-blue-300: 142 197 259 !important;
  --blueprint-blue-400: 81 162 260 !important;
  --blueprint-blue-500: 43 127 261 !important;
  --blueprint-blue-600: 21 93 252 !important;
  --blueprint-blue-700: 20 71 230 !important;
  --blueprint-blue-800: 25 60 184 !important;
  --blueprint-blue-900: 28 57 142 !important;
  --blueprint-blue-950: 22 36 86 !important;

  --blueprint-indigo-50: 238 242 255 !important;
  --blueprint-indigo-100: 224 231 255 !important;
  --blueprint-indigo-200: 198 210 256 !important;
  --blueprint-indigo-300: 163 179 259 !important;
  --blueprint-indigo-400: 124 134 259 !important;
  --blueprint-indigo-500: 97 95 257 !important;
  --blueprint-indigo-600: 79 57 246 !important;
  --blueprint-indigo-700: 67 45 215 !important;
  --blueprint-indigo-800: 55 42 172 !important;
  --blueprint-indigo-900: 49 44 133 !important;
  --blueprint-indigo-950: 30 26 77 !important;

  --blueprint-violet-50: 245 243 255 !important;
  --blueprint-violet-100: 237 233 254 !important;
  --blueprint-violet-200: 221 214 255 !important;
  --blueprint-violet-300: 196 180 258 !important;
  --blueprint-violet-400: 166 132 260 !important;
  --blueprint-violet-500: 142 81 262 !important;
  --blueprint-violet-600: 127 34 254 !important;
  --blueprint-violet-700: 112 8 231 !important;
  --blueprint-violet-800: 93 14 192 !important;
  --blueprint-violet-900: 77 23 154 !important;
  --blueprint-violet-950: 47 13 104 !important;

  --blueprint-purple-50: 250 245 255 !important;
  --blueprint-purple-100: 243 232 255 !important;
  --blueprint-purple-200: 233 212 256 !important;
  --blueprint-purple-300: 218 178 259 !important;
  --blueprint-purple-400: 194 122 262 !important;
  --blueprint-purple-500: 173 70 262 !important;
  --blueprint-purple-600: 152 16 250 !important;
  --blueprint-purple-700: 130 -7 219 !important;
  --blueprint-purple-800: 110 17 176 !important;
  --blueprint-purple-900: 89 22 139 !important;
  --blueprint-purple-950: 60 3 102 !important;

  --blueprint-fuchsia-50: 253 244 255 !important;
  --blueprint-fuchsia-100: 250 232 255 !important;
  --blueprint-fuchsia-200: 246 207 255 !important;
  --blueprint-fuchsia-300: 244 168 257 !important;
  --blueprint-fuchsia-400: 237 106 257 !important;
  --blueprint-fuchsia-500: 225 42 251 !important;
  --blueprint-fuchsia-600: 200 -28 222 !important;
  --blueprint-fuchsia-700: 168 -19 183 !important;
  --blueprint-fuchsia-800: 138 1 148 !important;
  --blueprint-fuchsia-900: 114 19 120 !important;
  --blueprint-fuchsia-950: 75 0 79 !important;

  --blueprint-pink-50: 253 242 248 !important;
  --blueprint-pink-100: 252 231 243 !important;
  --blueprint-pink-200: 252 206 232 !important;
  --blueprint-pink-300: 253 165 213 !important;
  --blueprint-pink-400: 251 100 182 !important;
  --blueprint-pink-500: 246 51 154 !important;
  --blueprint-pink-600: 230 -24 118 !important;
  --blueprint-pink-700: 198 -24 92 !important;
  --blueprint-pink-800: 163 -4 76 !important;
  --blueprint-pink-900: 134 16 67 !important;
  --blueprint-pink-950: 81 4 36 !important;

  --blueprint-rose-50: 255 241 242 !important;
  --blueprint-rose-100: 255 228 230 !important;
  --blueprint-rose-200: 255 204 211 !important;
  --blueprint-rose-300: 259 161 173 !important;
  --blueprint-rose-400: 259 99 126 !important;
  --blueprint-rose-500: 256 32 86 !important;
  --blueprint-rose-600: 236 -37 63 !important;
  --blueprint-rose-700: 199 -29 54 !important;
  --blueprint-rose-800: 165 -12 54 !important;
  --blueprint-rose-900: 139 8 54 !important;
  --blueprint-rose-950: 77 2 24 !important;

  --blueprint-slate-50: 248 250 252 !important;
  --blueprint-slate-100: 241 245 249 !important;
  --blueprint-slate-200: 226 232 240 !important;
  --blueprint-slate-300: 202 213 226 !important;
  --blueprint-slate-400: 144 161 185 !important;
  --blueprint-slate-500: 98 116 142 !important;
  --blueprint-slate-600: 69 85 108 !important;
  --blueprint-slate-700: 49 65 88 !important;
  --blueprint-slate-800: 29 41 61 !important;
  --blueprint-slate-900: 15 23 43 !important;
  --blueprint-slate-950: 2 6 24 !important;

  --blueprint-gray-50: 249 250 251 !important;
  --blueprint-gray-100: 243 244 246 !important;
  --blueprint-gray-200: 229 231 235 !important;
  --blueprint-gray-300: 209 213 220 !important;
  --blueprint-gray-400: 153 161 175 !important;
  --blueprint-gray-500: 106 114 130 !important;
  --blueprint-gray-600: 74 85 101 !important;
  --blueprint-gray-700: 54 65 83 !important;
  --blueprint-gray-800: 30 41 57 !important;
  --blueprint-gray-900: 16 24 40 !important;
  --blueprint-gray-950: 3 7 18 !important;

  --blueprint-zinc-50: 250 250 250 !important;
  --blueprint-zinc-100: 244 244 245 !important;
  --blueprint-zinc-200: 228 228 231 !important;
  --blueprint-zinc-300: 212 212 216 !important;
  --blueprint-zinc-400: 159 159 169 !important;
  --blueprint-zinc-500: 113 113 123 !important;
  --blueprint-zinc-600: 82 82 92 !important;
  --blueprint-zinc-700: 63 63 70 !important;
  --blueprint-zinc-800: 39 39 42 !important;
  --blueprint-zinc-900: 24 24 27 !important;
  --blueprint-zinc-950: 9 9 11 !important;

  --blueprint-neutral-50: 250 250 250 !important;
  --blueprint-neutral-100: 245 245 245 !important;
  --blueprint-neutral-200: 229 229 229 !important;
  --blueprint-neutral-300: 212 212 212 !important;
  --blueprint-neutral-400: 161 161 161 !important;
  --blueprint-neutral-500: 115 115 115 !important;
  --blueprint-neutral-600: 82 82 82 !important;
  --blueprint-neutral-700: 64 64 64 !important;
  --blueprint-neutral-800: 38 38 38 !important;
  --blueprint-neutral-900: 23 23 23 !important;
  --blueprint-neutral-950: 10 10 10 !important;

  --blueprint-stone-50: 250 250 249 !important;
  --blueprint-stone-100: 245 245 244 !important;
  --blueprint-stone-200: 231 229 228 !important;
  --blueprint-stone-300: 214 211 209 !important;
  --blueprint-stone-400: 166 160 155 !important;
  --blueprint-stone-500: 121 113 107 !important;
  --blueprint-stone-600: 87 83 77 !important;
  --blueprint-stone-700: 68 64 59 !important;
  --blueprint-stone-800: 41 37 36 !important;
  --blueprint-stone-900: 28 25 23 !important;
  --blueprint-stone-950: 12 10 9 !important;
}
